:root {
    --text-primary: #333333;
    --text-secondary: #fff;

    --fill-primary: #f6f6f8;
    --fill-secondary: #343740;
    --fill-tertiary: #dbdbed;

    --accent-color: #2352de;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2"),
        url("../fonts/OpenSans-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--text-primary);
    font-size: 16px;
    line-height: 1.6;

    background-color: #fff;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 140px 0;
}

.title {
    position: relative;

    display: inline-block;
    
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
}

.title span {
    position: relative;
    z-index: 1;

    display: block;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 5px;
    z-index: 0;

    height: 15px;

    background-color: var(--accent-color);
    opacity: 0.1;
}

.logo {
    max-width: 158px;
}

.header {
    position: relative;

    color: #fff;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    background-color: var(--accent-color);
    opacity: 0.5;
}

.header__inner {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 75px 0 30px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 106px;
}

.header__list {
    display: flex;
}

.header__item {
    font-size: 18px;
    font-weight: 600;
}

.header__item:not(:last-child) {
    margin-right: 35px;
}

.header__title {
    max-width: 670px;
    margin: auto 0;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.3;
}

.header__title b {
    display: block;

    font-size: 90px;
    font-weight: 700;
}

.header__anchor {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
    font-size: 18px;
}

.header__anchor span {
    margin-bottom: 10px;
}

.about {
    
}

.about__inner {
}

.about__title {
    margin-bottom: 60px;
}

.about__content {
    font-size: 18px;
}

.about__content p {
    margin: 0;
    line-height: 1.6;
}

.about__content p:not(:last-child) {
    margin-bottom: 28px;
}

.skills {
    background-color: var(--fill-primary);
}

.skills__title {
    margin-bottom: 60px;
}

.skills__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills__image-wrapper {
    max-width: 415px;
    margin-right: 30px;
}

.skills__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills__info {
    width: 100%;
    max-width: 664px;
}

.skills__item {
    display: flex;
    align-items: center;
}

.skills__item:not(:last-child) {
    margin-bottom: 86px;
}

.skills__text {
    flex-basis: 63px;
    flex-shrink: 0;

    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.skills__line {
    --proficiency: 10%;

    position: relative;

    width: 100%;
    height: 32px;

    background-color: var(--fill-tertiary);
}

.skills__line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    max-width: var(--proficiency);
    background-color: var(--accent-color);
}

.services {
}

.services__title {
    margin-bottom: 60px;
}

.services__list {
    display: flex;
    justify-content: space-between;
}

.services__item {
    width: 100%;
    max-width: 330px;
}

.services__icon {
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

.services__item-title {
    margin: 0 0 25px;

    font-weight: 600;
    font-size: 28px;
    line-height: 1.3;
}

.services__content {
}

.services__content p {
    margin: 0;
}

.services__content p:not(:last-child) {
    margin-bottom: 10px;
}